<h2>Items borrowed (expired)</h2>:

<div id = "borrowed_exp" class = "listing">
<h1> This is the listing of items you have borrowed:<h2>

<table id = "borrowed">
	<th>Item Borrowed</th>
	<th>Loan Start Date</th>
	<th>Loan End Date</th>
	<th>Lender Name</th>
	<th>Lender Rating</th>
	<th>Your Score</th>
	<th>Approval Status</th>
	

<% @loans.each do |loan| %>
	<% if loan.expired? %>
	<tr>
		<td><%= loan.item.name %></td> 
		<td><%= loan.loan_begin %></td> 
		<td><%= loan.loan_end %></td>
		<td><%= loan.lender.first_name %> <%= loan.lender.second_name %></td> 
		<td><%= loan.lender_score %> (for now)</td> 
		<td><%= loan.lender_score %> (for now)</td> 
		<td><em><%= loan.status %></em></td> 
	</tr>

	<% end %>

<% end %>
</table>
</div>