<h2>Items loaned (expired)</h2>:

<div id = "loaned_exp" class = "listing">
<h1> This is the listing of your expired loans:<h2>

<table id = "loans">
	<th>Item Loaned</th>
	<th>Loan Start Date</th>
	<th>Loan End Date</th>
	<th>Borrower Name</th>
	<th>Borrower Location</th>
	<th>Borrower Rating</th>
	<th>Your Score</th>
	<th>Approval Status</th>
	

<% @loans.each do |loan| %>
	<% if loan.expired? %>
	<tr>
		<td><%= loan.item.name %></td> 
		<td><%= loan.loan_begin %></td> 
		<td><%= loan.loan_end %></td>
		<td><%= loan.borrower.first_name %> <%= loan.borrower.second_name %></td> 
		<td><%= loan.borrower.full_address %></td> 
		<td><%= loan.borrower_score %> (for now)</td> 
		<td><%= loan.lender_score %> (for now)</td> 
		<td><em><%= loan.status %></em></td> 
	</tr>
	<% end %>
<% end %>
</table>
</div>