<h1> Please approve or reject the following loan:</h2>

<ul>

<li><%= @loan.borrower.first_name %> <%= @loan.borrower.first_name %> has requested to borrow "<%= @loan.item.name %>"</li>
<li>The borrower is located at <%= @loan.borrower.full_address %></li>

</ul>

<%= form_for  @loan do |f| %> 
<%# form_tag({controller: "loans", action: "approve"}, method: "post", class: "form") do %>
  <%= f.radio_button :owner_approved, "true" %>
<%= f.label(:owner_approved, "I approve this loan") %>
<%= f.radio_button :owner_approved, "false" %>
<%= f.label(:owner_approved, "I do not approve this loan") %>
<%= f.submit "Submit" %>
<% end %>


