<%= flash[:notice] %>

<h1>Greetings, <%= current_user.first_name %></h1>
<h2>This is the loans index page.  <br>Here you can see what you have borrowed and what you have loaned.</h2>

<p class ="padding_bottom">
<%= form_tag({controller: "loans", action: "index"}, method: "get", class: "form") do %>
  <%= radio_button_tag :category, "borrowed", false, :onclick => "this.form.submit();", class: "btn btn-default" %>
<%= label_tag(:category, "View Borrowed Items") %>
<%= radio_button_tag :category, "loaned", false, :onclick => "this.form.submit();", class: "btn btn-default" %>
<%= label_tag(:category, "View Loaned Items") %>
<% end %>
 

<br>
 

	<% if params[:category] == nil %>
		<%= render text: "Please select a loan category." %>
			<% if current_user.pending_loans? %>
 			<%= render 'pending' %>
 			<% end %>
	<% else %>
		<%= render "#{params[:category]}" %>
	<% end %>

