<div id = "items" class = "listing">
<u><h1>Borrow.it Items</h1></u>

<h2><br>

</h2>
<p>
<br><p>Here are the newest items which have been created: <br>


<% @items.each do |item| %>
<div id ="item_<%= item.id %>" class ="item row">
	<h1><%= item.name %></h1>
	<div id ="image" class="col-md-3">
	<%= image_tag(item.image_path, size:"200", alt:item.name, class:"image") %>
	</div>
	<div id ="item-desc" class="col-md-9">
		Category: <%= item.category.name %> <br>
		Item Description: <%= item.description %><br>
		Condition: <%= item.condition_qual %> <br>
		You can find this item here: <%= item.user.full_address %> <br>
		Tags: <%= item.tags %> <br><br>
		<h2 style="background-color: rgb(210, 210, 4); width: 240px;"><%= link_to "Request this item", new_item_loan_path(item.id) %></h2><br>
		</div>
	</div>
	<% end %>

</div>

	
