<div id ="item_new"class ="form">
<h1> Hey bro, make a new item:</h2>

<%= form_for @item do |f| %>
<div>
    <%= f.label "Item Name" %>
    <%= f.text_field :name %>
  </div>

<div>
    <%= f.label "Item Description" %>
    <%= f.text_field :description %>
  </div>
<div>
    <%= f.label "Item Category" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name ) %>

  </div>

  <div>
    <%= f.label "Approximate Value" %>
    $<%= f.text_field :value %>
  </div>

  <div>
    <%= f.label "Image Path" %>(For now, please enter a remote/local image path)
    <%= f.text_field :image_path %>
  </div>
<%= f.submit %>
<% end %>
</div>


