<h1>Item view: <%= @item.name %><h1>
	<h2>Description: <%= @item.description %><br>
	Image: <%= image_tag(@item.image_path, size:"100", alt:@item.name, class:"item") %> <br>
	Category: <%= @item.category.name %> <br>
	Condition: <%= @item.condition_qual %> <br>
	Location: <%= @item.user.full_address %> <br>
	Tags: <%= @item.tags %></h2>