<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  body {
    background-image: url("<%= random_background_image %>"); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;
  }
</style>
  <title>Borrow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">

<div style ="text-align:right">
<% if user_signed_in? %>


<%= render '/logged_in_header' %>

<%= render '/navbar' %>

<% else %>
<div id ="logo"><%= link_to "Borrow.it", :root %><br><em style="font-size: 10px;">An App For Borrowing...itEms</em></div>
<%= render '/logged_out_header' %>
<p style ="padding-bottom: 10%;">
<% end %>

</div>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div class ="error">
    <%= flash[:errors] -%>
</div>
<%= yield %>
</div>

</body>
</html>
